{% extends "layout.html" %}

{% block title %}
    Practice
{% endblock %}

{% block head %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // List containing random 50 English words
        // References:
        // https://www.espressoenglish.net/100-most-common-english-verbs/
        // https://www.espressoenglish.net/100-common-nouns-in-english/
        // https://www.espressoenglish.net/100-common-english-adverbs/
        // https://www.espressoenglish.net/100-common-adjectives-in-english/
        // https://www.vocabulary.com/lists/133109
        // https://www.vocabulary.com/lists/151206

        let word_list = ["be", "have", "do", "say", "go", "can", "get", "would", "make", "know",
        "time", "year", "people", "way", "day", "man", "thing", "woman", "life", "child",
        "up", "so", "out", "just", "now", "how", "then", "more", "also", "here",
        "other", "new", "good", "high", "old", "great", "big", "american", "small", "large",
        "aggressive", "entrepreneur", "futuristic", "acknowledgement", "japanese", "fraudulent",
        "platinize", "religion", "aberration", "benevolent"];

        // Randomize the list using the Fisher Yates method
        // Reference: https://www.w3schools.com/js/js_array_sort.asp
        word_list = randomizer(word_list);

        // Generate random unique numbers in range of 0 and total number of words in word_list, in a list
        // Default list length is 10
        let total_words = 10;
        let index_list = random_numbers(total_words, word_list);

        // Generate a list of random words based on index_list and word_list
        let random_word_list = random_words(total_words, index_list, word_list);

        // Sublist of words that will be shown to user
        // Default number of words that will be shown to user is 5
        let number = 3;
        let words_in_text = text_words(random_word_list, number);

        // Print the first word letter by letter
        print_first_word(words_in_text);

        // Transform list into string (the rest of the words in the list)
        text = generate_text(words_in_text);

        // Print the rest of words
        let words = document.getElementById('words');
        words.innerHTML = text;

        let typing_area = document.getElementById('typing_area');

        // Stores correctly typed words
        let words_typed = document.getElementById('words_typed');

        // Count the number of words
        let word_count = 0;

        // Count the number of times user presses key
        let key_count = 0;

        // Count the number of times that keys needed to be pressed (including spacebar) to type all the words in random_word_list
        let total_keys = calculate_keys(random_word_list);

        typing_area.addEventListener('keydown', function(event) {
            let key = event.key;
            let new_length = typing_area.value.length;
            let color = "green";
            let id = "w" + (new_length - 1);

            // Increment key_count for each key pressed except if the key was backspace
            if (key != 'Backspace') {
                key_count++;
            }

            if (new_length < 15) {
                // Turn letter green when it's spelled correctly
                if (key == words_in_text[0][new_length]) {
                    if (new_length == 0) {
                        turn_letter_color(key, new_length, color);
                    }
                    else if (document.getElementById(id).style.color == 'green') {
                        turn_letter_color(key, new_length, color);
                    }
                    // If the previous letter is not green, turn current letter red even when it's spelled correctly
                    else {
                        color = "red";
                        turn_letter_color(key, new_length, color);
                    }
                }
                else {
                    // Turn letter white when backpace is pressed
                    if (key == 'Backspace') {
                        color = "white";
                        if (new_length != 0) {
                            new_length -= 1;
                        }
                        turn_letter_color(key, new_length, color);
                    }
                    // Turn letter red when it's misspelled
                    else if (event.key.length == 1) {
                        color = "red";
                        turn_letter_color(key, new_length, color);
                    }
                }
            }

            if (key == ' ') {
                if (typing_area.value == words_in_text[0]) {
                    typing_area.value = '';

                    // Turn all letters in first word white
                    turn_all_letters_white();

                    // Increment word_count for each correctly typed word
                    word_count++;

                    // Update number of words typed correctly
                    words_typed.innerHTML = word_count;

                    let previous_word_length = words_in_text[0].length;

                    // Remove the first word in random_word_list and words_in_text
                    random_word_list.shift();
                    words_in_text.shift();

                    text = '';

                    // Refill words_in_text with the next word from random_word_list
                    if (random_word_list.length > 0 && random_word_list.length > words_in_text.length) {
                        words_in_text.push(random_word_list[number - 1]);
                    }

                    // When random_word_list is exhausted, show no more words to user
                    for (let i = 0; i < words_in_text.length; i++) {
                        text = generate_text(words_in_text);
                    }

                    if (words_in_text.length > 0) {
                        let current_word_length = words_in_text[0].length;

                        // Erase residual letters left by longer old word
                        if (current_word_length < previous_word_length) {
                            erase_residual_letters(previous_word_length, current_word_length);
                        }
                    }

                    // Print the next first word
                    print_first_word(words_in_text);

                    // Print the rest of words
                    words.innerHTML = text;
                }
            }
        });

        // Declare seconds and minutes
        let seconds_value = document.getElementById('seconds');
        let minutes_value = document.getElementById('minutes');
        let seconds = 0;
        let minutes = 0;

        // Clear the input value so that there is no more ' ' or whitespace
        let first_time = true;
        let startStopwatch = '';

        typing_area.addEventListener('input', function() {
            if (typing_area.value == ' ') {
                typing_area.value = '';
            }

            // Start the stopwatch
            if (first_time == true) {
                startStopwatch = setInterval(stopwatch, 1000);

            }
            first_time = false;

            // Remove focus when there are no more words to be typed
            if (words_in_text.length == 1 && typing_area.value == words_in_text[0]) {

                typing_area.blur();

                // Stop the stopwatch
                clearInterval(startStopwatch);

                // Reset first word
                erase_residual_letters(15, 0);

                // Disable input
                typing_area.disabled = true;

                // Clear the input value
                typing_area.value = '';

                // Increment word_count for each correctly typed word
                word_count++;

                // Update number of words typed correctly
                words_typed.innerHTML = word_count;

                // Calculate gross typing speed, wpm
                // Reference: https://www.typetolearn.app/knowledge-base/how-words-per-minute-and-accuracy-are-calculated/
                let gross_speed = gross_words_per_min();
                document.getElementById('gts').innerHTML = "Gross typing speed: ";
                document.getElementById('wpm').innerHTML = gross_speed.toFixed(2) + " WPM";

                // Calculate accuracy
                let accuracy = calculate_accuracy();
                document.getElementById('acc').innerHTML = "Accuracy: ";
                document.getElementById('accuracy').innerHTML = accuracy.toFixed(2) + "%";

                // Calculate adjusted word per minute
                let adjusted_wpm = gross_speed * accuracy / 100;
                document.getElementById('ats').innerHTML = "Adjusted typing speed: ";
                document.getElementById('adj_wpm').innerHTML = adjusted_wpm.toFixed(2) + " AWPM";

                reset_btn.hidden = false;
                typing_area.hidden = true;
            }
        });

        // User decides the total number of words
        // Each time a user changes the total number of words, a new set of random words will be displayed
        let total_number = document.getElementById('total_number');

        total_number.addEventListener('change', function() {
            reset_everything();
        });

        // Reset everything when the reset button is clicked
        let reset_btn = document.getElementById('reset_eve');
        reset_btn.addEventListener('click', function() {
            reset_everything();
        });

        // Change the words displayed based on the user's chosen language
        let language = document.getElementById('language');
        language.addEventListener('change', function() {
            
            if (language.value == "English") {
                words.lang = "en";
                word_list = ["be", "have", "do", "say", "go", "can", "get", "would", "make", "know",
                "time", "year", "people", "way", "day", "man", "thing", "woman", "life", "child",
                "up", "so", "out", "just", "now", "how", "then", "more", "also", "here",
                "other", "new", "good", "high", "old", "great", "big", "american", "small", "large",
                "aggressive", "entrepreneur", "futuristic", "acknowledgement", "japanese", "fraudulent",
                "platinize", "religion", "aberration", "benevolent"];
            }
            // Reference: https://www.pinhok.com/kb/malay/230/100-basic-malay-vocabularies/
            else if (language.value == "Bahasa Malaysia"){
                words.lang = "ms";
                word_list = ["saya", "kamu", "dia", "kami", "kalian", "mereka", "apa", "siapa", "bila", "jika",
                "tetapi", "kerana", "tidak", "ini", "itu", "semua", "atau", "dan", "mengetahui", "fikir",
                "datang", "meletek", "mengambil", "cari", "kerja", "cakap", "beri", "suka", "tolong", "cinta",
                "kosong", "baru", "lama", "sedikit", "banyak", "salah", "betul", "buruk", "bagus", "gembira",
                "kecil", "besar", "sana", "sini", "kiri", "muda", "tua", "hari", "diri", "jangan"];
            }
            reset_everything();
        });

        function reset_everything() {
            // Change the total number of words
            total_words = total_number.value;
            document.getElementById('sum_of_words').innerHTML = total_words;

            // Generate a new set of random words
            index_list = random_numbers(total_words, word_list);
            random_word_list = random_words(total_words, index_list, word_list);
            words_in_text = text_words(random_word_list, number);

            // Reset color of letters
            turn_all_letters_white();

            // Reset first word
            erase_residual_letters(15, 0);

            // Print the new first word
            print_first_word(words_in_text);

            // Transform list into string (the rest of the words in the list)
            text = generate_text(words_in_text);

            // Print the rest of new words
            words.innerHTML = text;

            // Stop the stopwatch
            clearInterval(startStopwatch);

            // Reset the stopwatch
            seconds = 0;
            minutes = 0;
            seconds_value.innerHTML = seconds;
            minutes_value.innerHTML = minutes;

            // Start the stopwatch when user changes input value
            first_time = true;

            // Reset word count
            word_count = 0;
            words_typed.innerHTML = word_count;

            // Reset key count
            key_count = 0;

            // Reset total number of keys
            total_keys = calculate_keys(random_word_list);

            // Reset gross typing speed
            document.getElementById('gts').innerHTML = "";
            document.getElementById('wpm').innerHTML = "";

            // Reset accuracy
            document.getElementById('acc').innerHTML = "";
            document.getElementById('accuracy').innerHTML = "";

            // Reset adjusted typing speed
            document.getElementById('ats').innerHTML = "";
            document.getElementById('adj_wpm').innerHTML = "";

            // Hide reset button
            reset_btn.hidden = true;

            // Show input
            typing_area.hidden = false;

            // Enable input
            typing_area.disabled = false;

            // Clear the input value and refocus
            typing_area.value = '';
            typing_area.focus();
        }

        function calculate_accuracy() {
            let accuracy  = (total_keys / key_count) * 100;
            return accuracy;
        }

        function gross_words_per_min() {
            let gross_wpm = (key_count / 5) / (minutes + seconds / 60);
            return gross_wpm;
        }

        function stopwatch() {
            seconds++;

            if (seconds == 60) {
                minutes++;
                minutes_value.innerHTML = minutes;
                seconds = 0;
            }
            seconds_value.innerHTML = seconds;
        }

        // Turn all letters in first word black
        function turn_all_letters_white() {
            let id = '';
            for (let i = 0; i < 15; i++) {
                id = 'w' + i;
                document.getElementById(id).style.color = "white";
            }
        }

        function erase_residual_letters(old_word_length, new_word_length) {
            let id = '';
            for (let i = new_word_length; i < old_word_length; i++) {
                id = 'w' + i;
                document.getElementById(id).innerHTML = '';
            }
        }

        function turn_letter_color(key, letter_position, color) {
            let id = 'w' + letter_position;
            document.getElementById(id).style.color = color;
        }

        function print_first_word(list_of_words) {
            let id = '';

            if (list_of_words.length > 0) {
                for (let i = 0; i < list_of_words[0].length; i++) {
                    id = 'w' + i;
                    document.getElementById(id).innerHTML = list_of_words[0][i];
                }
            }

            else {
                for (let i = 0; i < 15; i++) {
                    id = 'w' + i;
                    document.getElementById(id).innerHTML = '';
                }
            }
        }

        function calculate_keys(list_of_words) {
            let number_of_keys = 0
            for (let i = 0; i < list_of_words.length; i++) {
                for (let j = 0; j < list_of_words[i].length; j++) {
                    number_of_keys++;
                }
            }
            number_of_keys += list_of_words.length - 1;
            return number_of_keys;
        }

        function generate_text(list_of_words) {
            let string_of_words = '';

            for (let i = 1; i < list_of_words.length; i++) {
                string_of_words += list_of_words[i] + ' ';
            }
            return string_of_words;
        }

        function text_words(list_of_words, number_of_words) {
            let sublist_of_words = [];

            for (let i = 0; i < number_of_words; i++) {
                sublist_of_words[i] = list_of_words[i];
            }
            return sublist_of_words;
        }

        function random_words(length_of_list, list_of_numbers, list_of_words) {
            let random_words = [];

            for (let i = 0; i < length_of_list; i++) {
                random_words[i] = list_of_words[list_of_numbers[i]];
            }
            return random_words;
        }

        function random_numbers(length_of_list, list_of_words) {
            let index = Math.floor(Math.random() * list_of_words.length);
            let list_of_numbers = [];

            while (list_of_numbers.length < length_of_list) {
                let position = list_of_numbers.indexOf(index);

                while (position != -1) {
                    index = Math.floor(Math.random() * length_of_list);
                    position= list_of_numbers.indexOf(index);
                }
                list_of_numbers.push(index);
            }
            return list_of_numbers;
        }

        function randomizer(list_of_words) {
            for (let i = list_of_words.length - 1; i > 0; i--) {
                let j = Math.floor(Math.random() * (i+1));
                let k = list_of_words[i];
                list_of_words[i] = list_of_words[j];
                list_of_words[j] = k;
            }
            return list_of_words;
        }
    });
</script>
{% endblock %}

{% block body %}
            <div class="language_option">
                <label id="lang_label" for="language"></label>
                <select id="language" style="color: white; background-color: black;">
                    <option>English</option>
                    <option>Bahasa Malaysia</option>
                </select>
            </div>
            <div>
                <p id="title">TYPING PRACTICE</p>
            </div>
            <div class="random_words">
                <p>
                    <span id="w0"></span><span id="w1"></span><span id="w2"></span><span id="w3"></span><span id="w4"></span><span id="w5"></span><span id="w6"></span><span id="w7"></span><span id="w8"></span><span id="w9"></span><span id="w10"></span><span id="w11"></span><span id="w12"></span><span id="w13"></span><span id="w14"></span>
                    <span id="words"></span>
                </p>
            </div>
            <div style="text-align:center;">
                <button id="reset_eve" type="reset" hidden>Reset</button>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" style="font-size:0.57em;" autocomplete="off" autofocus id="typing_area" type="text">
            </div>
            <div class="calculations">
                <p><span id="words_typed">0</span>/<span id="sum_of_words">10</span><span id="minutes" style="margin-left: 80px">0</span><span>m:</span><span id="seconds">0</span>s</p>
            </div>
            <div class="calculation_value">
                <p><span id="gts"></span><span id="wpm" style="color: #50C878;"></span></p>
                <p><span id="acc"></span><span id="accuracy" style="color: #50C878;"></span></p>
                <p><span id="ats"></span><span id="adj_wpm" style="color: #50C878;"></span></p>
            </div>
            <div class="total_words">
                <label id="test" for="total_number">Select total number of words</label>
                <select id="total_number">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
            </div>
            <p id="bla" style="color: white; font-size:0.43em;"></p>
            <p id="bla2" style="color: white; font-size:0.43em;"></p>
            <p id="bla3" style="color: white; font-size:0.43em;"></p>
            <p id="bla4" style="color: white; font-size:0.43em;"></p>
{% endblock %}